@import "tailwindcss";

:root {}

html {
  width: 100%;
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-rows: 1fr;
  overflow: auto;
  height: 100%;
}



















.simpleFlex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.simpleGrid {
  display: grid;
  align-content: flex-start;
}

.simpleContainer {
  display: grid;
  align-content: flex-start;
  gap: 1rem;
  padding: 1rem;
}

.svgIcon {
  aspect-ratio: 1/1;
  width: 1.5rem;
  height: 1.5rem;
  fill: #000;
}