.tileCont {
    border: 0.5px solid #000;
}

.tile {
    position: absolute;
    width: var(--tileWidth);
    height: var(--tileHeight);
}

.grayTile {
    background-color: gray;
    border: 0.5px solid #000;
}